<header>
  <a href="/"><img src="assets/images/logo-l4.svg" alt="Logo"></a>

  <nav>
    <ul class="flex items-center gap-8">
      <li><a href="#">Work</a></li>
      <li><a href="#">Company</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#" class="px-6 py-3 border border-[#6e32ef]
        rounded-lg bg-[#6e32ef] text-white hover:bg-[#151618]
        transition duration-300 ease-in-out">
        Get a Quote
      </a></li>
    </ul>
  </nav>
</header>
