<main>
  <section id="feature">
    <div id="content">
      <header>
        <h2 class="font-bold">Lightning-Fast Data Transfers</h2>
        <p class="large muted my-[18px]">
          Experience the power of lightning-fast data transfers, a standout
          feature of this revolutionary encryption solution.
        </p>
      </header>

      <div id="grid">
        <div>
          <img src="assets/icons/icon-copy.svg" alt="Copy" />
          <h3 class="mt-5 mb-4 font-bold">Rapid File Transfers</h3>
          <p>Effortlessly transfer large files in a fraction of the time.</p>
        </div>
        <div>
          <img src="assets/icons/icon-clock.svg" alt="Clock" />
          <h3 class="mt-5 mb-4 font-bold">Real-Time Streaming</h3>
          <p>
            Get instant access to critical information without any lag or delay.
          </p>
        </div>
      </div>
    </div>

    <div id="media">
      <video class="rounded-2xl border border-[#5521db] object-cover" src="assets/videos/video-1@c.mp4" height="320"
      width="640" muted loop controls poster="assets/images/video-poster.jpg">

      </video>
    </div>
  </section>
</main>
