<section class="p-8">
  <h2 class="text-4xl">Articles</h2>
  <ul class="mt-8">
    <li class="mb-5">
      <a routerLink="hands-on-analogjs">Hands on AnalogJS</a>
    </li>
    <li class="mb-5">
      <a routerLink="build-a-tracking-machine-with-ngrx">Build a tracking machine with NGRX</a>
    </li>
    <li class="mb-5">
      <a routerLink="introduction-to-unit-testing">Introduction to unit testing with Cypress</a>
    </li>
    <li>
      <a routerLink="react-for-angular-developers">React for Angular developers</a>
    </li>
  </ul>
</section>
